
.homeContainer{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #9072e9;
  flex-direction: column;
  padding: 20px;
}
.homeButton{
  border:none;
  color: #fff;
  background-color: #000;
  border-radius:15px;
  padding:20px 30px;
  font-size: 14px;
  font-weight: 600;
}
.connectionWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}